.first_section {
  width: 100%;
  margin-bottom: 160px;
  margin-top: 160px;
}

.first_section_picture {
  width: 430px;
  height: 351px;
}

.green-title {
  font-size: 3rem;
  justify-content: center;
  line-height: 0.5em;
  font-family: "Playfair Display", serif;
  letter-spacing: 1.1px;
  color: rgba(1, 1, 1, 1);
}

.first_section_text_one {
  padding-top: 30px;
  color: grey;
}

.first_section_text_two {
  color: grey;
}
